name: build

on:
  pull_request: ~
  push:
    branches: [main]
    paths:
      - 'samples/cds-sample-application/**'
permissions:
    pull-requests: write
    contents: write
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v1
  tests:
    needs: [checks]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [14.x, 16.x]
    steps:
      - uses: actions/checkout@v2
      - run: git fetch --depth=1
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: CDS Samples - Install Dependencies and Build Package
        run:  |
         cd samples/cds-sample-application
          npm install
          npm run ci-build
      - name: CDS Samples - Tests
        run:  |
         cd samples/cds-sample-application
          npm run test:e2e
      - name: Resilience Examples - Install Dependencies
        run:  |
         cd samples/resilience-examples
          npm install
      - name: Resilience Examples - Tests
        run:  |
         cd samples/resilience-examples
          npm run test
      - name: HTTP Client Examples - Install Dependencies
        run:  |
         cd samples/http-client-examples
          npm ci
      - name: HTTP Client Examples - Tests
        run:  |
         cd samples/http-client-examples
          npm run test
  dependabot:
      needs: tests
      runs-on: ubuntu-latest
      if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
      steps:
        - name: Dependabot metadata
          id: metadata
          uses: dependabot/fetch-metadata@v1.3.5
          with:
            github-token: "${{ secrets.GITHUB_TOKEN }}"
        - name: Approve a PR
          run: gh pr review --approve "$PR_URL"
          env:
            PR_URL: ${{github.event.pull_request.html_url}}
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        - name: Enable auto-merge for Dependabot PRs
          run: gh pr merge --auto --squash "$PR_URL"
          env:
            PR_URL: ${{github.event.pull_request.html_url}}
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}